*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(135deg,rgb(210, 57, 177),rgb(104, 11, 158));
    padding: 10px;
}
.child{
    width: 100%;
    max-width: 540px;
    background: white;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
    border-radius: 10px;
}
.child h2{
    color: #002765;
    align-items: center;
    margin-bottom: 25px;
}
.data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(236, 231, 231);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
     flex: 1;
     /* flex:1   ==>  flex-grow  ,flex-shrink  ,flex-basis */
     border:none;
     outline: none;
     background: transparent;
     padding: 10px;
     font-weight: 14px;
}
 .container button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:orangered ;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}
ul li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    /* user-select: none;==> لا يمحن تحديده او عمل هيلايت عليه */
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.317);
    border-radius: 50%;
    border: solid rgba(0, 0, 0, 0.463);
    top: 12px;
    left: 8px;
}
ul li.list{
    text-decoration: line-through;
    color: black;
}
ul li.list::before{
    background-color: orangered;
}
ul li span{
    position: absolute;
    right: 2px;
    top: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
}
ul li span:hover{
    background-color: rgb(215, 205, 205);
}
/* tado list 2 */
.container1{
    width: 100%;
    height: 100vh;
    background:linear-gradient(135deg,rgb(206, 137, 63),rgb(185, 101, 56));
    padding: 10px;
}
.child1{
    /* width: 100%; */
    width: 540px;
    background: white;
    padding: 40px 50px 30px;
    margin: 100px auto 20px;
    border-radius: 10px;
    box-shadow: 0 0 1.8px black;
    text-align: center;
}
.child1 h2{
    text-align: center;
    font-size: xx-large;
}
.data1{
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
}
.data1 input{
     flex: 1;
     /* flex:1   ==>  flex-grow  ,flex-shrink  ,flex-basis */
     background: transparent;
     border: none;
     padding: 10px;
     font-weight: 14px;
     box-shadow: 0 0 1.8px black;
}
.btn{
    background-color: rgb(231, 224, 224);
    color: black;
    border: none;
    padding: 10px 15px;
     box-shadow: 0 0 1.8px black;
     margin-left: 10px;
}